<% include ./partials/head %>

<h1>Confirm Order</h1>
<div class="row">
  <div class="col-lg-6 mx-auto">
    <div class="card mt-4 mx-auto">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>
            Amount: <%=data.amount%></strong>
        </li>
        <li class="list-group-item">
          <strong>
            Order ID: <%=data.orderid%></strong>
        </li>
      </ul>
    </div>
  </div>
</div>
<form action="/payment-success" method="GET">
  <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="<%=data.key%>" data-amount="<%=data.amount%>"
    data-buttontext="Pay with Razorpay" data-name="TEST COMPANY LTD."
    data-description="A sample description for the Test Company." data-order_id="<%=data.orderid%>"></script>
  <input type="hidden" custom="Hidden Element" name="hidden" />
</form>

<% include ./partials/footer %>