<% include ./partials/head %>
<div class="row">
    <div class="col-lg-12 mx-auto">
        <div class="card mt-4 mx-auto">
            <a href="#" class="btn btn-primary mt-2" title="Home">Payments History</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Payment ID</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% payments.forEach(payment => { %>
                    <tr>
                        <th scope="row">
                            <%=payment.id%>
                        </th>

                        <td>
                            <%=payment.amount%>
                        </td>
                        <td>
                            <%=payment.orderId%>
                        </td>
                        <td>
                            <%=payment.paymentId%>
                        </td>
                        <td>
                            <%=payment.updatedAt%>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <a href="/" class="btn btn-primary mt-2" title="Home">Home</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>